<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>Welcome to the Pacific Boat Club Dashboard</p>
    <h3>All registered users:</h3>
    <ul>
        <div *ngIf="adminVisibleList">
        <li *ngFor="let user of users">
            {{user.email}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user._id)">Delete</a>
        </li>        <h2>List of Boats</h2>

        <!-- TODO: Boat Add Only for Admin -->
        <p><a [routerLink]="['/addboat']">Add New Boat</a></p>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Boat Year</th>
                <th>Boat Length (ft)</th>
                <th>Boat Max Capacity</th>
                <th>Boat Picture Url</th>
                <th>Rented Out</th>
              </tr>
              <tr *ngFor="let boat of boats">
                <td>{{boat.BoatName}}</td>
                <td>{{boat.BoatYear}}</td>
                <td>{{boat.BoatLengthInFeet}}</td>
                <td>{{boat.BoatCapacityInPeople}}</td>
                <td>{{boat.BoatPictureUrl}}</td>
                <td>{{boat.IsRented}}</td>
                <!-- TODO: Boat Rent Only For Member -->
                <td><a (click)="rentBoat(boat._id)">Rent!</a></td>
                <td><a (click)="expireBoat(boat._id)">Undo.</a></td>
              </tr>
        </table>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>