<h2 class="page-header">Dashboard</h2> 

<form action="/upload" method="POST" enctype="multipart/form-data">
  <h3>Select Your BC Hydro XML:</h3>
  <input type="file" name="xml"> 
  <input type="submit" value="Upload">
</form>