<h2 class="page-header">Dashboard</h2>

<form action="/upload" method="POST" enctype="multipart/form-data">
  Select an image to upload:
  <input type="file" name="xml"> 
  <input type="submit" value="Upload">
</form>