<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Pacific Boat Club</a>
              </div>
            </div>
          </nav>
  </header>
<!-- main app container -->
<main role="main" class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
  </main>

    <footer class="footer navbar-fixed-bottom" style="text-align:center;">
        <span class="text-muted">Mean Stack Assignment - Boat Rentals: Tor Rosa and Armaan Dhanji</span>
    </footer>

